body{
    background-color: #ffffff;
}

p{
    font-size: 45px;
    text-align: left;
    font-weight: 800;
    color: rgb(15, 22, 52);
    text-shadow: 1px 1px 1px  hsla(0, 0%, 0%, 0.064);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 20pxpx;
    margin-left: 40px;
    margin-right: 60px;
    margin-top: 45px;
}
h2{
    font-size: 18px;
    color: #8f09b4;
    font-weight: 500;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 50px;
    margin-right: 20px;
}
.ethprice button {
    padding: 10px 60px;
    display: block;
    margin: auto;
    margin-top: 40px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: solid;
    letter-spacing: 1px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
    border: 1px  #240281;
    border-radius: 05px;
    background-color: #051443f9;
    color:  rgb(255, 255, 255);
    text-shadow: 1px 1px 1px  #000000a8;
}
.ethprice button:hover {
    color: rgb(14, 16, 56);
    background-color: #dce2e4;
    text-shadow: 1px 1px 1px  #00000000;
    box-shadow: 0px 1px 1px 1px #3b436498;
}
.buycry button {
    padding: 10px 60px;
    display: block;
    margin: auto;
    margin-top: 40px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: solid;
    letter-spacing: 1px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
    border: 1px  #240281;
    border-radius: 05px;
    background-color: #051443f9;
    color:  rgb(255, 255, 255);
    text-shadow: 1px 1px 1px  #000000a8;
}
.buycry button:hover {
    color: rgb(14, 16, 56);
    background-color: #dce2e4;
    text-shadow: 1px 1px 1px  #00000000;
    box-shadow: 0px 1px 1px 1px #3b436498;
}
.form-control{
    padding: 11px;
    margin: auto;
    display: block;
    color: rgb(236, 245, 244);
    font-size: 14px;
    width: 45%;
    background: transparent;
    border-radius: 6px;
    border: 1px solid  rgb(68, 71, 71);
    outline: none;
    margin-top: 20px;
        }
.whyou{
    display: inline-flex;
    margin-left: 50px;
    margin-right: 30px;
    margin-bottom: 40px;
}
.need2{
    margin-right: 50px;
    margin-left: 60px;
}
.how2buy h3{
    color: #d112df;
    font-weight: 600;
    margin-bottom: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.how2buy{
    text-align: center;
    color: #eff0f5;
    width: 90%;
    background-image: url(images/hero.jpg);
    margin-left: 5%;
    margin-top: 30px;
    padding-top: 1px;
    padding-bottom: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.how2buy ul{ 
    margin-top: 40px;
}
.how2buy li{ 
    text-align: center;
    margin-left: 180px;
    margin-right: 180px;
}
h3{
    margin-top: 50px;
    font-size: 50px;
    font-weight: 600;
    color: #19084f;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar{
    background-image: url(images/hero.jpg);
    box-shadow:  3px 4px 4px  #00000077;
    -webkit-box-shadow: 0px, 0px, 8px, 0px;
    -mox-box-shadow: 0px, 0px, 8px, 0px;
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index: 100;
}
.nav2 img{
    width: 87px;
    margin-top: 0px;
    margin-left: 30px;
    margin-right: 180px;
}
nav ul li a{
    color:  #f006e4;
    font-size: 18px;
    margin: 10px;
    text-shadow: 1px 1px 1px  rgba(41, 46, 73, 0.233);
    font-weight: 400;
    font-family:Georgia;
}

.nav-link:hover {
    color: rgba(255, 0, 191, 0.979) !important;
}
.bar{
    width: 26px;
}
#myIframe{
    margin: auto;
    border-radius: 6px;
    box-shadow: 0px 2px 5px 2px rgba(41, 41, 43, 0.2);
    margin-bottom: 20px;
    margin-top: 20px;
    width: 65%;
}
.buycrypto{
    background-color: rgb(255, 255, 255);
    display: inline-flex;
    margin-top: 80px;
}
.buycrypto img{
    display: block;
    width: 320px;
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 30px;
    height: 460px;
}
.anoda1 {
    display: none;
}
footer{
    background-color: rgba(56, 214, 246, 0.151);
    text-align: center;   
    margin-top: 50px;
}
footer img{
    width: 60px;
    margin-bottom: 10px;
    margin-top: 20px;
 }
 footer b{
     font-size: 17px;
     color:  #f006e4;
 }
 .closing{ 
     color: #1b094b;
    padding-bottom: 30px;
    font-weight: 600;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif
 }
 .closing button{
    background-color: greenyellow;
    border: 1px solid rgba(33, 210, 20, 0.341);
    border-radius: 7px;
}
@media screen and (max-width: 1100px) {
.buycrypto img{
    width: 290px;
}
p{
    font-size: 40px;
}
}
.ethprice h2{
    text-align: center;
}
@media screen and (max-width: 990px) { 
nav ul li a{
    margin: 6px; 
    }
.nav1 img{
    margin-right: 0px;
}
.closing{ 
    font-size: 13px;
    padding-left: 200px;
    padding-right:200px;
    }
}
@media screen and (min-width: 990px) { 
.closing{ 
    padding-left: 230px;
    padding-right: 230px;
    }
}
@media screen and (min-width: 870px) { 
.ethprice{
    width: 750px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    }
 }
 
@media screen and (max-width: 870px) {
p{
    font-size: 40px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}
.buycrypto{
    display: none;
    margin-top: 10px;
}
.anoda1 {
    display: block;
    margin-top: 10px;
    margin: auto;
}
.anoda1 img{
    display: block;
    margin: auto;
    width: 50%;
    margin-left: 25%;
}
h2{
    font-size: 15px;
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
}

h3{
    font-size: 40px;
}
.how2buy{
    font-size: 14px;
}
footer img{
    width: 50px;
 }
 footer b{
    font-size: 14px;
 }
 .closing{ 
    font-size: 13px;
    padding-left: 170px;
    padding-right: 170px;
 }

#myIframe{
    width: 70%;
}
.how2buy li{ 
    margin-left: 100px;
    margin-right: 100px;
}
}
@media screen and (max-width: 670px) {

.nav2 img{
    width: 70px;
    margin-left: 10px;
    margin-right: 0px;
    }
.whyou{
    display: block;   
}
.need2{
    margin-right: 10px;
    margin-left: 0px;
}
.need1{
    margin-right: 10px;
    margin-left: 0px;
}
.how2buy li{ 
    margin-left: 60px;
    margin-right: 60px;
}
footer img{
    width: 40px;
    }
footer b{
    font-size: 14px;
}
.closing{ 
font-size: 11px;
padding-left: 100px;
padding-right:100px;
}
p{
    font-size: 35px;
}
.bar{
    width: 23px;
}
h2{
    font-size: 14px;
}
h3{
    font-size: 32px;
    margin-left: 10px;
    margin-right: 10px;
}
.how2buy{
    font-size: 12px;
    margin-left: 15px;
    margin-right: 15px;
    }
nav ul li a{
    font-size: 16px; 
    }
}
@media screen and (max-width: 480px) {
#myIframe{
    width: 90%;
}
p{
    text-align: left;
}
h2{
    text-align: left;
}
.closing{ 
    padding-left: 80px;
    padding-right:80px;
    } 
.bar{
    width: 20px;
}
.navbar-toggler {
    margin-right: 20px;
  }
.nav2 img{
    width:50px;
    margin-top: 0;
    margin-right: 0px;
    margin-left: 10px;
}
nav ul li a{
    font-size: 14px;
    margin: 10px;
}
}
@media screen and (max-width: 290px) {
.ethprice button {
    padding: 5px 30px;
    font-size: 11px;

}
.buycry button {
    padding: 5px 30px;
    font-size: 11px;

}
.whyou img{
    display: block;
    width: 50px;   
}
.whyou  h4{
    font-size: 16px; 
}
.need2{
    margin-right: 10px;
    margin-left: 0px;
    font-size: 10px;
}
.need1{
    margin-right: 10px;
    margin-left: 0px;
    font-size: 10px;
}
.how2buy li{ 
    margin-left: 30px;
    margin-right: 30px;
}
footer img{
    width: 35px;
    }
footer b{
    font-size: 10px;
}
.closing{ 
font-size: 8px;
padding-left: 40px;
padding-right: 40px;
}
.bar{
    width: 16px;
}
.navbar-toggler {
    margin-right: 15px;
  }
p{
    font-size: 24px;
}
h2{
    font-size: 10px;
}
h3{
    font-size: 23px;
    margin-left: 10px;
    margin-right: 10px;
}
.how2buy{
    font-size: 12px;
    margin-left: 15px;
    margin-right: 15px;
    }
.nav2 img{
    width:38px;
    margin-top: 0;
    margin-right: 0px;
    margin-left: 2px;
}

nav ul li a{
    font-size: 14px;
    margin: 6px;
}
#myIframe{
    width: 100%;
    border-radius: 1px;
}
}