*{
  padding:0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
#preloader{
  background: rgb(8, 10, 40) url(images/chekload.gif) no-repeat center center;
  height: 100vh;
  background-size: 20%;
  width: 100%;
  position: fixed;
  z-index: 1000;
}
body {
  font-family:montserrat;
}

nav{
  background-image: url(images/hero.jpg);
  height: 90px;
  width: 100%;
  position: fixed;
  z-index: 100;
  box-shadow: 0px 2px 2px 2px #28282998;
}
.heading{
  display:inline-flex;
}

.nav2 img{
  width:80px;
  margin-top: 5px;
  margin-left: 30px;
  margin-right: 320px;
  margin-bottom: 50px;
}
.nav3 h3{
  color: #f4f4f8;
  font-size: 42px;
  margin-left: 30px;
  letter-spacing: 4px;
  text-decoration: none;
  margin-top: 15px;
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.nav4 p{
  background-color: rgba(255, 255, 255, 0.855);
  margin-left: 180px;
  display: block;
  font-size: 14px;
  margin-right: 8px;
  float: right;
  font-family:  serif; 
  margin-top: 25px;
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 6px 10px;
}
.nav4 p:hover {
  background-color: rgba(255, 255, 255, 0.935);
}
@media screen and (min-width: 1240px) {
  .nav3 h3{
    margin-right: 160px;
  }
  .nav2 img{
    margin-right: 390px ;
  }
}
@media screen and (max-width: 1000px) {
  .nav4 p{
    margin-left: 60px;
    margin-right: 10px;
  }
  .nav3 h3{
    margin-right: 80px;
  }
  .nav2 img{
    margin-right: 200px ;
  }
}
h1{
  text-align: center;
  margin-top: 20px;
  color: #1316b6;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  text-shadow: 1px 1px 1px  #00000038;
}
.feather{
  color: rgba(54, 54, 52, 0.895);
  width: 15px;
  margin-right: 10px;
}
nav ul{
  margin-top: 11px;
  float: left;
  position: fixed;
  width: 24%;
  font-size: 15px;
  line-height: 30px;
  height:100vh;
  background-color: #f4f4f8;
  top: 80px;
  overflow-x: hidden;
  box-shadow: 0px 3px 3px 5px #28282934;
}
nav ul li{
  display: block;
  line-height: 70px;
  margin: 0px 5px;
  width: 99%;
  box-shadow:0px 1px 1px  #28282998 ;
}
nav ul li a{
  color: rgb(19, 15, 71);
  padding: 7px 13px;
  font-size: 17px;
  font-family:'Segoe UI', sans-serif;
  font-weight: 500;
  border-radius: 3px;
  margin-right: 30px;
}
a.active,a:hover{
  color: rgb(248, 3, 146);
  transition: all .5s;
}
 .checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
.bar{
  width: 25px;
}
#check{
  display: none;
}


  @media screen and (max-width: 870px) {
    .nav4 p{
      display: none;
    }
    nav ul li{
      box-shadow: none;
    }
    .nav3 h3{
      font-size: 32px;
      margin-top: 20px;
      margin-right: 0px;
      margin-left: 0px;
    }
    .nav2 img{
      width: 70px;
    }
    .checkbtn {
      margin-left: 15%;
      display: block;
    } 

    nav ul{
      margin-top: 0;
      width: 100%;
      height:55vh;
      display: block;
      padding: 0px;  
      margin-right: 20px;
      background-image: url(images/hero.jpg);
      line-height: 30px;
      box-shadow: 0px 3px 2px 3px #28282934;
      transition: all .6s;
    }
    h1{
      text-align: center;
      margin-top: 20px;
      display: none;
      color: #1316b6;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
      text-shadow: 1px 1px 1px  hsla(0, 0%, 0%, 0.288);
    }
    nav{
      background-image: url(images/hero.jpg);
      height: 80px;
      width: 100%;
      position: fixed;
      z-index: 100;
    }
    nav ul li{
      line-height: 65px;
    }
    nav ul li a{
      color:  #f8f3f7;
      font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
      font-size:19px;
      margin-left: 20px;
      text-shadow: 1px 1px 1px  rgba(41, 46, 73, 0.233);
      font-weight: 500;
      letter-spacing: .3px;
    }
    ul{
      background: rgb(29, 132, 158);
      top: 80px;
      left: -100%;
      transition: .5s;
    }
  
    .feather{
      color: rgba(10, 9, 41, 0.836);
      width: 21px;
      margin-right: 10px;

    }
    a:hover,a.active{
      background: none;
      color: #ed0c88;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  
em{
  background-color: rgba(255, 255, 255, 0.904);
  background-size: cover;
  height: 70px;
}
table{
  position: relative;
  text-align: center;
  margin-left: 220px;
  width: 76%;
}
h2{
 text-align: center; 
  width: 76%;
  color: #0a0b4d;
  font-size: 35px;
  margin-bottom: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
section{
  height: 100vh;
  padding-top: 100px;
}
#section1{
  background-color: #f4f4f8;
  overflow-x: hidden;
}
#section2{
  background-color:#f4f4f8;
  overflow-x: hidden;
}
#section3{
  background-color: #f4f4f8;
  overflow-x: hidden;
}
#section4{
  background-color:#f4f4f8;
  overflow-x: hidden;
}
#section5{
  background-color:#f4f4f8;
  overflow-x: hidden;
}
#section6{
  background-color: #f4f4f8;
  overflow-x: hidden;
}
#section7{
  background-color: #f4f4f8;
  overflow-x: hidden;
}
#section8{
  background-color: #f4f4f8;
  overflow-x: hidden;
}
b{
  color: #0d27cb;
  font-size: 12px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.form-control{
  text-align: center;
  display: block;
  margin-top: 10px;
  margin-left: 17%;
  padding: 11px;
  font-size: 14px;
  width: 60%;
  background: rgb(255, 255, 255);
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #dbdbe783;
  outline: none;
  box-shadow: 0px 1px 2px 2px rgba(4, 0, 3, 0.11);
}
.form-group{
 text-align: center; 
}
div#content{
  display: flex;
  flex-wrap: wrap;
  max-width: 25%;
  align-items: center;
  margin: auto;
}
div.nft{
  width: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  background-color: #f7f0eb8c;
  border-radius: 6px;
}
@media screen and (min-width: 870px) {
.transactions {
  width: 76%;
  margin-left: 24%;
  margin-right: 10%;
  background-color: rgb(248, 249, 241);
  text-align: center;
  padding-bottom: 40px;
  box-shadow: 0px 3px 4px 3px rgba(4, 0, 3, 0.31);
}
}
label{
  text-align: center;
  margin-left: 12%;
  color: #0a0b4dce;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-right:22% ;
  display: block;
}
button {
  width: 60%;
  border: none;
  padding: 12px;
  margin-left: 17%;
  background-color:   #121485f5 ;
  font-size: 14px;
  display: block;
  border-radius:7px;
  font-weight: 600;
  color: rgba(243, 231, 231, 0.973);
  box-shadow: 0px 2px 2px 2px rgba(13, 13, 24, 0.726);
  text-shadow: 1px 1px 1px  #725a5a2f;
}
button:hover {
  background-color: rgb(9, 12, 180);;
  color: rgb(241, 233, 233);
  box-shadow: none;
  box-shadow: 0px 2px 2px 2px rgba(13, 13, 24, 0.726);
}
.form-text {
  text-align: center;
  font-size: 15px;
  margin-bottom: 5px;
  color: #0a0b4dce;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-right:23px ;
  display: block;
}
.form-select{
  text-align: center;
  display: block;
  margin-top: 10px;
  margin-left: 17%;
  padding: 5px;
  font-size: 12px;
  width: 60%;
  background: rgb(247, 243, 243);
  margin-bottom: 5px;
  border-radius: 5px;
  color: #080808d0;
  border: 1px solid #4d0a4a83;
  outline: none;
}
.table{
  align-items: center;
  color:#efeff5f8;
  padding: 5px;
  font-size: 14px;
  margin-left: 9%;
  border-radius: 3px;
  text-shadow: 1px 1px 1px  #725a5a2f;
  font-family: Georgia ;
  background-image: url(images/hero.jpg);
  
}
@media screen and (max-width: 870px) {
.transactions {

  margin-left: 1%;
  margin-right: 1%;
  background-color: rgb(249, 241, 241);
  text-align: center;
  padding-bottom: 40px;
  box-shadow: 0px 3px 4px 3px rgba(4, 0, 3, 0.31);
}
label{
  font-size: 12px;
  color: #0a0b4dce;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-right:80px ;
  display: block;
}
.table{
  padding: 5px;
  margin-left: 9%;
  font-size: 12px;  
}
nav ul li a{
  font-size: 17px;
  margin-right: 0px;
  margin-left: 10px;
}
h2{
  font-size: 30px;
  margin-left: 57px;
}
.form-control{
  margin-top: 10px;
  margin-left: 17%;
  margin-right: 17%;
  padding: 11px;
  font-size: 12px;
}
.form-text {
  font-size: 12px;
  margin-right: 0;
  color: #0a0b4dce;
}
  }
div#content{
  display: flex;
  flex-wrap: wrap;
  max-width: 85%;
  align-items: center;
  margin: auto;
}
div.nft{
  width: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
}
.nft p{
  color: solid yellow;
}

@media screen and (max-width: 700px) {
  .nav3 h3{
    margin-left: 30px;
    font-size: 32px;
    margin-top: 20px;
  }
  .nav2 img{
    width: 70px;
    margin-right: 100px;
  }
  .checkbtn{
   margin-left: 10%;    
  }
  .bar{
    width: 25px;
  }
  nav ul li a{
    font-size: 18px;
    margin-right: 0px;
    margin-left: 10px;
  }
  div#content{
    display: flex;
    flex-wrap: wrap;
    max-width:98%;
    align-items: center;
    margin: auto;
  }
  div.nft{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 550px) {
  .nav3 h3{
    margin-right: 0px;
    margin-left: 0px;
    font-size: 25px;
    margin-top: 25px;
  }
  .nav2 img{
    width: 60px;
    margin-left: 16px;
    margin-top: 10px;
  }
  .checkbtn{
    font-size: 25px;
    color: rgb(255, 255, 255);
    float: right;
    line-height: 80px;
    margin-right: 40px;
  }
  .bar{
    width: 24px;
  }
  nav ul li a{
    font-size: 16px;
    margin-right: 0px;
    margin-left: 10px;
  }
  .table{
   font-size: 10px; 
  }
}
@media screen and (max-width: 420px) {
.nav3 h3{
  margin-right: 0px;
  margin-left: 43px;
  font-size: 20px;
  margin-top: 25px;
}
.nav2 img{
  width: 55px;
  margin-left: 10px;
  margin-right: 25px;
}
.checkbtn {
  font-size: 15px;
  color: rgb(255, 255, 255);
  line-height: 80px;
  margin-right: 40px;
}
.bar{
  width: 19px;
}
nav ul li a{
  font-size: 14px;
  margin-right: 0px;
  margin-left: 10px;
}
.table{
  padding: 5px;
  margin-left: 9%;
 font-size: 7px; 
}
div#content{
  display: flex;
  flex-wrap: wrap;
  max-width:98%;
  align-items: center;
  margin: auto;
}
div.nft{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
}
@media screen and (max-width: 380px) {
  h2{
    font-size: 20px;
    margin-left: 25px;
  }
  button{
    font-size: 10px;
  }
  .form-text {
    font-size: 10px;
    margin-right: 0;
    color: #0a0b4dce;
  }
  .nav3 h3{
    margin-right: 0px;
    font-size: 20px;
    margin-top: 28px;
    margin-left: 10px;
  }
  .nav2 img{
    width: 54px;
    margin-right: 32px;
    margin-left: 16px;
  }
}

@media screen and (max-width: 290px) {
.nav3 h3{
  margin-right: 0px;
  font-size: 17px;
  margin-top: 30px;
}
.nav2 img{
  width: 45px;
  margin-right: 5px;
  margin-left: 16px;
  margin-top: 15px;
}
.checkbtn{
  font-size: 17px;
  color: rgb(255, 255, 255);
  line-height: 80px;
  margin-right: 40px;
}
.bar{
  width: 15px;
}
label{
  font-size:8px;
  margin-left: 60px;
}
div#content{
  max-width: 85%;
}
div.nft{
  width: 94%;
  display: flex;
}
nav ul li a{
  font-size: 11px;
  margin-right: 0px;
  margin-left: 10px;
}
}